<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="none">
        function addMqMsgShow() {
            $('#mqMsgIntervalSecondAdd').val('0');
            $('#manager_add').dialog('open');
            $('#mqMsgContentAdd').focus();
        }
        function addMqMsgCommit() {
            if ($('#manager_add').form('validate')) {
                var mqMsgContentAdd = $('#mqMsgContentAdd').val();
                var mqMsgRemarkAdd = $('#mqMsgRemarkAdd').val();
                var mqMsgDestAddrAdd = $('#mqMsgDestAddrAdd').val();
                var param = {
                    "requestPushMsgContent": mqMsgContentAdd,
                    "requestPushRemark": mqMsgRemarkAdd,
                    "requestPushDestAddr": mqMsgDestAddrAdd
                };
                var result = ajaxSynchPostJson("user/mqMsgManage/add", param);
                if (result.code == '200') {
                    alertSuccess();
                    $('#manager_add').dialog('close');
                    searchMqMsg();
                } else {
                    alertWarn(result.msg);
                }
            }
        }
        function handPushMqMsg(){
            $.messager.confirm('确认', '未成功送达三次的消息，才能手动推送！确认推送？', function(r){
                if(r) {
                    var rows = $('#manager').datagrid('getSelections');
                    if (rows.length > 0) {
                        var id = rows[0].id;
                        var result = ajaxSynchGet("user/mqMsgManage/handPushMqMsg", {"id": id});
                        if (result.code == '200') {
                            alertSuccess();
                            searchMqMsg();
                        } else {
                            alertWarn(result.msg);
                        }
                    } else {
                        alertWarn('未选择记录！');
                    }
                }
            });
        }
        function searchMqMsg() {
            var data = {
                "startDate": $('#startDate').datetimebox('getValue'),
                "endDate": $('#endDate').datetimebox('getValue'),
                "requestPushPlatform": $('#requestPushPlatform').combobox('getValue'),
                "requestPushMsgContent": $('#requestPushMsgContent').val(),
                "page":1, "rows":10
            };
            var result = ajaxSynchPostJson("user/mqMsgManage/search", data);
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'createDate',
                        title : '推送请求创建时间',
                        width : 100,
                    },
                    {
                        field : 'requestPushPlatformStr',
                        title : '推送请求方平台',
                        width : 100,
                    },
                    {
                        field : 'requestPushMsgContent',
                        title : '推送内容',
                        width : 100,
                    },
                    {
                        field : 'status',
                        title : '推送状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "未推送";
                            } else if (value == 1){
                                return "推送失败";
                            } else if (value == 2){
                                return "推送成功";
                            } else {
                                return "未知";
                            }
                        }
                    }
                ]]
            });
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var data = {
                        "startDate": $('#startDate').datetimebox('getValue'),
                        "endDate": $('#endDate').datetimebox('getValue'),
                        "requestPushPlatform": $('#requestPushPlatform').combobox('getValue'),
                        "requestPushMsgContent": $('#requestPushMsgContent').val(),
                        "page":pageNumber, "rows":pageSize
                    };
                    var result = ajaxSynchPostJson("user/mqMsgManage/search", data);
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function webPageInit() {
            var requestPushPlatformData = [
                {"key": 0, "value": "人工手动构建消息"},
                {"key": 1, "value": "xxx平台"},
                {"key": 2, "value": "yyy平台"},
                {"key": 3, "value": "zzz平台"}
            ];
            $('#requestPushPlatform').combobox('loadData', requestPushPlatformData);
        }

        $(function () {
            webPageInit();
            dataGridInit();
            searchMqMsg();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addMqMsgShow()">手动构建消息</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="handPushMqMsg()">手动推送消息</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="addUserShow()">查看详情</a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            开始时间：<input type="text" class="easyui-datetimebox" id="startDate" style="width:165px" />&nbsp;&nbsp;
            结束时间：<input type="text" class="easyui-datetimebox" id="endDate" style="width:165px" />&nbsp;&nbsp;
            推送平台：<select class="easyui-combobox" id="requestPushPlatform" style="width:125px;" data-options="valueField:'key',textField:'value'">
                        <option value="请选择" selected="true" />
                      </select>&nbsp;&nbsp;<br />
            消息内容：<input type="text" class="textbox" id="requestPushMsgContent" style="width:595px" />&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchMqMsg()">查询</a>
        </div>
    </div>
</table>

<form id="manager_add" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:500,title:'手动构建消息',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_add').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addMqMsgCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_add').dialog('close');
					}
				}]">
    <p>消息内容：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,490]',missingMessage:'请输入消息内容',invalidMessage:'消息内容长度至少为1位'," type="text" id="mqMsgContentAdd" style="width:450px;" /></p>
    <p>备&nbsp;&nbsp;&nbsp;&nbsp;注：<input class="easyui-validatebox" type="text" id="mqMsgRemarkAdd" style="width:450px;" /></p>
    <p>目的地址：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,250]',missingMessage:'请输入目的地址',invalidMessage:'目的地址长度至少为1位'," type="text" id="mqMsgDestAddrAdd" style="width:450px;" /></p>
    <p>间隔时间(秒)：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,10]',missingMessage:'请输入间隔时间（0表示立即送达）',invalidMessage:'间隔时间长度至少为1位'," type="text" id="mqMsgIntervalSecondAdd" style="width:450px;" /></p>
</form>
</body>
</html>