<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="none">
        function searchUser() {
            var result = ajaxSynchPostJson("user/userManage/search", {"uname": $('#unameSearch').val(), "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'createDate',
                        title : '推送请求创建时间',
                        width : 100,
                    },
                    {
                        field : 'uname',
                        title : '推送请求方平台',
                        width : 100,
                    },
                    {
                        field : 'uname',
                        title : '推送内容',
                        width : 100,
                    },
                    {
                        field : 'roleGroupName',
                        title : '推送状态',
                        width : 100,
                    }
                ]]
            });
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/userManage/search", {"uname": $('#uname').val(), "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function webPageInit() {
            var requestPushPlatformData = [
                {"key": 0, "value": "人工手动构建消息"},
                {"key": 1, "value": "xxx平台"},
                {"key": 2, "value": "yyy平台"},
                {"key": 3, "value": "zzz平台"}
            ];
            $('#requestPushPlatform').combobox('loadData', requestPushPlatformData);
        }

        $(function () {
            dataGridInit();
            searchUser();
            webPageInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="addUserShow()">查看详情</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addUserShow()">手动构建消息</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="distriUserAuthShow()">手动推送消息</a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            开始时间：<input type="text" class="easyui-datetimebox" id="startDate" style="width:165px" />&nbsp;&nbsp;
            结束时间：<input type="text" class="easyui-datetimebox" id="endDate" style="width:165px" />&nbsp;&nbsp;
            推送平台：<select class="easyui-combobox" id="requestPushPlatform" style="width:125px;" data-options="valueField:'key',textField:'value'">
                        <option value="请选择" selected="true" />
                      </select>&nbsp;&nbsp;<br />
            消息内容：<input type="text" class="textbox" id="requestPushMsgContent" style="width:595px" />&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchUser()">查询</a>
        </div>
    </div>
</table>
</body>
</html>